{% set footer = config.themes.pluspunkt.footer %}

<div class="container">

  <div class="row gutters align-center">
      {% for widget in config.themes.pluspunkt.footer.widgets %} 
      <p>{{ widget.title }}</p>
       {{ widget.content|markdown }}
      {% endfor %}
  </div>
</div>
